<html lang="en">

<!-- HEAD  -->
<head>
  <meta charset="utf-8"/>
  <title>Skindigo Routine Builder</title>
  <!-- SCRIPT -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <!-- FAVICON -->
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>

<body>
    <!-- MAIN  -->
    <main>
        <img id= "bubbly" src="/bubbles.png" alt="Icon of bubbles"><h1>Skindigo</h1>
        <p id="desc">Skindigo is a skincare app that helps you figure out your skin needs. Not only can you track and post the products you use, but you can also see what products people with your skintype use as well. </p>
    </main>

    <!-- CONTROLS  -->
    <nav id="links">
        <ul id="navigation">
            <li class="navLink" id="active"><a href="/">HOME</a></li>
            <li class="navLink"><a href="/info">WHERE DO I START?</a></li>
            <li class="navLink"><a href="/app">ROUTINE APP</a></li>
            <li class="navLink"><a href="/admin">ADMIN PAGE</a></li>
        </ul>
    </nav>
</body>
</html>