<html lang="en">

<!-- HEAD  -->
<head>
  <meta charset="utf-8"/>
  <title>Skindigo Routine Builder</title>
  <!-- SCRIPT -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <!-- FONT -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Delius&family=Reenie+Beanie&family=Tenor+Sans&display=swap" rel="stylesheet">
    
  <!-- FAVICON -->
  <link rel="shortcut icon" href="/assets/img/favicon.ico"/>
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>

<body>
  {{{body}}}
</body>
</html>