
html, body {
    height: 100%;
    width: 100%;
    margin: 5px;
    padding: 0;
    overflow-x: hidden;
    color: darkblue;    
    font-family: 'Tenor Sans', sans-serif;
}

#bubbly {
    height: 40px;
    width: 40;
    padding-top: 5px;
    float:left;
    border-radius: 8px;
}

h1 {
    font-family: 'Delius', cursive;
    font-size: 40px;
    margin: 0%;
    margin-left: 15px;
    display: inline;
}

footer {
    font-family: 'Reenie Beanie', cursive;
    font-size: larger;
}


/* NAVIGATION BAR */
/* source: https://codepen.io/grohit/pen/jObGzdG */
/* source: https://codepen.io/melnik909/pen/VQOodQ */

#navigation {
    list-style-type: none;
    overflow: hidden;
    margin: 0px;
    margin-right: 3%;
    padding: 0 30px;
    background-color: rgb(81, 2, 138);
}

li:not(:last-child) {
    margin-right: 40px;
}

#links {
    color: indigo;
}

.navLink {
    color: white;
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 10px;
    display: inline-flex;
}

.navLink a {
    text-decoration: none;
    color: white;
}

#active {
    background-color: rgb(98, 2, 167);
}

#changePass {
    width: 200px;
}

.navLink{
  position: relative;
  overflow: hidden;
  will-change: color;
  transition: color .25s ease-out;
}

.navLink::before, 
.navLink::after{
  content: "";
  width: 0;
  height: 3px;
  background-color: var(--textUnderlinedLineColor, currentColor);
  will-change: width;
  transition: width .1s ease-out;
  position: absolute;
  bottom: 0;
}

.navLink::before{
  left: 50%;
  transform: translateX(-50%);
}

.navLink::after{
  right: 50%;
  transform: translateX(50%); 
}

.navLink:hover::before, 
.navLink:hover::after{
  width: 100%;
  transition-duration: .2s;
}

#loginZone {
    margin-right: 3%;
    padding-left: 70%;
    background-color: rgb(50, 0, 85);
}

#loginButton, #signupButton {
    height: 15px;
}

/* IN APP CSS */

.RoutineForm {
    border: 15px solid indigo;
    width:400px;
    height: 300px;
    margin-top:0px; 
    margin: auto;
    width: 50% ;
    padding-top:10px;
    background-color: indigo;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}


.RoutineForm label {
    width: 300px;
    float: left;
    color: white;
}

.RoutineForm input[type=text] {
    width: 100%;
    padding: 5px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#skinField {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
}

#skinField label {    
  width: unset;
  float: unset;
  padding-right: 10px;
}

.buildRoutineSubmit {
    transition: background-color 0.4s ease;
    display: inline;
    width: 90px;
    margin-top: 10px;
    padding: 5px;
    background-color: black;
    border-radius: 15px;
    color: white;
    text-decoration: none;
}

#btnRoutine, #filterOilyButton, #filterNormalButton, #filterCombinationButton, #filterDryButton {
    transition: background-color 0.4s ease;
    display: inline;
    width: 250px;
    margin-top: 10px;
    padding: 5px;
    background-color: black;
    border-radius: 15px;
    color: white;
    text-decoration: none;
}

#btnRoutine:link, #filterOilyButton:link, #filterNormalButton:link, #filterCombinationButton:link, #filterDryButton:link,
#btnRoutine:visited, #filterOilyButton:visited, #filterNormalButton:visited, #filterCombinationButton:visited, #filterDryButton:visited, 
#btnRoutine:hover, #filterOilyButton:hover, #filterNormalButton:hover, #filterCombinationButton:hover, #filterDryButton:hover,
#btnRoutine:active, #filterOilyButton:active, #filterNormalButton:active, #filterCombinationButton:active, #filterDryButton:active
{
    color:white;
    transition: background-color 0.4s ease;
    background-color: rgb(112, 3, 190);
}

.buildRoutineSubmit:link, .buildRoutineSubmit:visited, .buildRoutineSubmit:hover, .buildRoutineSubmit:active {
    color: white;
}

.buildRoutineSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: rgb(112, 3, 190);
}

.mainForm {
    height: 100px;
    width: 350px;
    margin: 0 auto;
    padding-top: 100px;
}

.mainForm h3 {
    text-align: center;
}

.mainForm label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: right;
    font-size: 1.2em;
}

.formSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    width: 100px;
    background-color: indigo;
    border-radius: 30px;
    border-color: indigo;
    padding: 2px 0px;
    color: white;
    text-decoration: none;
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
    color: white;
}

.formSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: black;
}

#user, #pass, #pass2, #pass3 {
    text-align: center;
    font-size: 1.1em;
    width: 180px;
    border-radius: 6px;
}

#user:focus, #pass:focus, #pass3:focus, #pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px black;
}

#message {
    display:none;
    top: 250px;
    width: 250px;
    height: 650px;
    position: absolute;
    z-index: 200;
    right: 0px;
    overflow: hidden;
}

#message h3 {
    width: 200px;
    position: absolute;
    top: 0px;
    left: 20px;
}

#speech {
    height: 120px;
    width: 250px;
    z-index:300;
}

#errorMessage {
    font-size: 1.2em;
    font-weight: bold;
    color: red;
    font-style: italic;
}


#routines {
    width: 70%;
    min-width: 400px;
    border: 2px solid white;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 10px;
}

.routine {
    width: 95%;
    margin: 0 auto;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 2px solid;
    border-radius: 4px;
    padding: 10px;
    min-height:60px;
    overflow: hidden;
}

.routine:hover {
    transition: border-color 0.2s ease-out;
    border-color:indigo;
    transition: background-color 2.6s ease-out;
}

img.routineFace {
    margin-left: 25px;
    margin-right: 10px;
    height: 50px;
    width: 50px;
    border-radius: 4px;
    margin-top:10px;
    float:left;
}

h3.emptyRoutine {
    width: 400px;
    font-size: 1.5em;
    margin: 0 auto;
    text-align: center;
    margin-top: 18px;
}

h3.routineName {
    float:left;
    width: 200px;
    font-weight: bold;
    padding-left: 65px;
    font-size: 1.5em;
}

h3.routineAge {
    float:right;
    text-align: left;
    width: 100px;
    font-weight: bold;
    padding-right: 40px;
    font-size: 1.5em;
}


.routine:first-child {

    margin-top: 10px;
}

.routine:last-child {
    margin-bottom:10px;
}